In [2]:
%matplotlib inline
import pandas as pd
from IPython.display import display, Markdown
pd.options.display.max_columns = 100

In [3]:
def describe_data(df):
    display(Markdown("**Data Shape**: %s" % str(df.shape)))
    display(Markdown("<br>**Column names**:"))
    display(df.columns.values)
    display(Markdown("<br>**Sample**:"))
    display(df.head())
    display(Markdown("<br>**Statistics**:"))
    display(df.describe())

# Toronto Police Killed and Serious Accidents Dataset

In [5]:
describe_data(pd.read_csv('ksi.csv'))

**Data Shape**: (12557, 58)

<br>**Column names**:

array(['Latitude', 'Longitude', 'Index_', 'ACCNUM', 'YEAR', 'DATE',
       'TIME', 'Hour', 'STREET1', 'STREET2', 'OFFSET', 'ROAD_CLASS',
       'District', 'LATITUDE', 'LONGITUDE', 'LOCCOORD', 'ACCLOC',
       'TRAFFCTL', 'VISIBILITY', 'LIGHT', 'RDSFCOND', 'ACCLASS',
       'IMPACTYPE', 'INVTYPE', 'INVAGE', 'INJURY', 'FATAL_NO', 'INITDIR',
       'VEHTYPE', 'MANOEUVER', 'DRIVACT', 'DRIVCOND', 'PEDTYPE', 'PEDACT',
       'PEDCOND', 'CYCLISTYPE', 'CYCACT', 'CYCCOND', 'PEDESTRIAN',
       'CYCLIST', 'AUTOMOBILE', 'MOTORCYCLE', 'TRUCK', 'TRSN_CITY_VEH',
       'EMERG_VEH', 'PASSENGER', 'SPEEDING', 'AG_DRIV', 'REDLIGHT',
       'ALCOHOL', 'DISABILITY', 'Division', 'Ward_Name', 'Ward_ID',
       'Hood_ID', 'Hood_Name', 'FID', 'Geohash'], dtype=object)

<br>**Sample**:

,Latitude,Longitude,Index_,ACCNUM,YEAR,DATE,TIME,Hour,STREET1,STREET2,OFFSET,ROAD_CLASS,District,LATITUDE,LONGITUDE,LOCCOORD,ACCLOC,TRAFFCTL,VISIBILITY,LIGHT,RDSFCOND,ACCLASS,IMPACTYPE,INVTYPE,INVAGE,INJURY,FATAL_NO,INITDIR,VEHTYPE,MANOEUVER,DRIVACT,DRIVCOND,PEDTYPE,PEDACT,PEDCOND,CYCLISTYPE,CYCACT,CYCCOND,PEDESTRIAN,CYCLIST,AUTOMOBILE,MOTORCYCLE,TRUCK,TRSN_CITY_VEH,EMERG_VEH,PASSENGER,SPEEDING,AG_DRIV,REDLIGHT,ALCOHOL,DISABILITY,Division,Ward_Name,Ward_ID,Hood_ID,Hood_Name,FID,Geohash
0,43.651545,-79.383490,6666068,1249781,2011,2011-08-04T04:00:00.000Z,2318,23,QUEEN ST W,YORK ST,,Major Arterial,Toronto East York,43.651545,-79.383490,Mid-Block,,No Control,Clear,Dark,Dry,Non-Fatal Injury,Pedestrian Collisions,Driver,50 to 54,None,0,West,Municipal Transit Bus (TTC),Going Ahead,Driving Properly,Normal,,,,,,,Yes,,,,,Yes,,,,,,,,D52,Toronto Centre-Rosedale (27),27,76,Bay Street Corridor (76),12001,dpz83dd
1,43.780445,-79.300490,7542240,1311542,2012,2012-08-19T04:00:00.000Z,2318,23,SHEPPARD AVE E,AMETHYST RD,,Major Arterial,Scarborough,43.780445,-79.300490,Intersection,,No Control,Clear,"Dark, artificial",Dry,Non-Fatal Injury,Pedestrian Collisions,Passenger,25 to 29,Minimal,0,,Other,,,,,,,,,,Yes,,Yes,,,,,Yes,Yes,Yes,,,,D42,Scarborough-Agincourt (40),40,118,Tam O'Shanter-Sullivan (118),12002,dpz953z
2,43.682342,-79.328266,80496257,5002235651,2015,2015-12-30T05:00:00.000Z,2339,23,DANFORTH AVE,GILLARD AVE,,Major Arterial,Toronto East York,43.682342,-79.328266,Intersection,At Intersection,No Control,Clear,"Dark, artificial",Dry,Fatal,Pedestrian Collisions,Pedestrian,60 to 64,Fatal,64,South,,,,,Vehicle is going straight thru inter.while ped...,"Crossing, no Traffic Control",Normal,,,,Yes,,Yes,,,,,,,Yes,,,,D55,Toronto-Danforth (30),30,65,Greenwood-Coxwell (65),12003,dpz8db4
3,43.780445,-79.300490,7542241,1311542,2012,2012-08-19T04:00:00.000Z,2318,23,SHEPPARD AVE E,AMETHYST RD,,Major Arterial,Scarborough,43.780445,-79.300490,Intersection,,No Control,Clear,"Dark, artificial",Dry,Non-Fatal Injury,Pedestrian Collisions,Vehicle Owner,unknown,,0,,Other,,,,,,,,,,Yes,,Yes,,,,,Yes,Yes,Yes,,,,D42,Scarborough-Agincourt (40),40,118,Tam O'Shanter-Sullivan (118),12004,dpz953z
4,43.780445,-79.300490,7542242,1311542,2012,2012-08-19T04:00:00.000Z,2318,23,SHEPPARD AVE E,AMETHYST RD,,Major Arterial,Scarborough,43.780445,-79.300490,Intersection,,No Control,Clear,"Dark, artificial",Dry,Non-Fatal Injury,Pedestrian Collisions,Driver,60 to 64,None,0,West,"Automobile, Station Wagon",Going Ahead,Failed to Yield Right of Way,Normal,,,,,,,Yes,,Yes,,,,,Yes,Yes,Yes,,,,D42,Scarborough-Agincourt (40),40,118,Tam O'Shanter-Sullivan (118),12005,dpz953z

<br>**Statistics**:

,Latitude,Longitude,Index_,ACCNUM,YEAR,TIME,Hour,LATITUDE,LONGITUDE,FATAL_NO,Ward_ID,Hood_ID,FID
count,12557.000000,12557.000000,1.255700e+04,1.255700e+04,12557.000000,12557.000000,12557.000000,12557.000000,12557.000000,12557.000000,12557.000000,12557.000000,12557.000
mean,43.710715,-79.395989,2.799053e+07,1.576768e+09,2011.547822,1344.978020,13.167317,43.710715,-79.395989,1.252369,22.565820,73.617026,6279.000
std,0.056025,0.104216,3.390049e+07,2.541023e+09,3.104151,623.637652,6.242482,0.056025,0.104216,6.959808,12.531213,41.337124,3625.038
min,43.592048,-79.638390,0.000000e+00,1.284070e+05,2007.000000,0.000000,0.000000,43.592048,-79.638390,0.000000,1.000000,1.000000,1.000
25%,43.662645,-79.467434,5.398745e+06,1.108321e+06,2009.000000,910.000000,9.000000,43.662645,-79.467434,0.000000,12.000000,38.000000,3140.000
50%,43.702345,-79.396490,7.376871e+06,1.276036e+06,2011.000000,1433.000000,14.000000,43.702345,-79.396490,0.000000,23.000000,77.000000,6279.000
75%,43.755992,-79.318090,8.021012e+07,4.002384e+09,2014.000000,1836.000000,18.000000,43.755992,-79.318090,0.000000,34.000000,111.000000,9418.000
max,43.855445,-79.125897,8.079331e+07,7.003292e+09,2017.000000,2359.000000,23.000000,43.855445,-79.125897,77.000000,44.000000,140.000000,12557.000

# Geotab Hazardous Driving Areas Dataset

In [6]:
describe_data(pd.read_csv('hazardous_driving.csv'))

**Data Shape**: (1537, 20)

<br>**Column names**:

array(['AvgLatitude', 'AvgLongitude', 'Latitude_SW', 'Longitude_SW',
       'Latitude_NE', 'Longitude_NE', 'City', 'County', 'State',
       'Country', 'ISO_3166_2', 'SeverityScore', 'IncidentsTotal',
       'IncidentsCar', 'IncidentsMPV', 'IncidentsLDT', 'IncidentsMDT',
       'IncidentsHDT', 'IncidentsOther', 'Geohash'], dtype=object)

<br>**Sample**:

,AvgLatitude,AvgLongitude,Latitude_SW,Longitude_SW,Latitude_NE,Longitude_NE,City,County,State,Country,ISO_3166_2,SeverityScore,IncidentsTotal,IncidentsCar,IncidentsMPV,IncidentsLDT,IncidentsMDT,IncidentsHDT,IncidentsOther,Geohash
0,43.75349,-79.25517,43.75305,-79.25537,43.75443,-79.25400,Toronto,NaN,Ontario,Canada,CA-ON,0.0018,43,1,1,1,1,23,16,dpz8ut0
1,43.71787,-79.55657,43.71735,-79.55750,43.71872,-79.55612,Toronto,NaN,Ontario,Canada,CA-ON,0.0017,50,0,8,1,11,22,8,dpz2tws
2,43.61421,-79.54442,43.61298,-79.54514,43.61435,-79.54376,Toronto,NaN,Ontario,Canada,CA-ON,0.0010,27,0,0,0,1,21,5,dpz2jgt
3,43.75805,-79.40998,43.75717,-79.41055,43.75854,-79.40918,Toronto,NaN,Ontario,Canada,CA-ON,0.0008,43,4,1,2,7,23,6,dpz8bvz
4,43.65352,-79.34116,43.65280,-79.34189,43.65417,-79.34052,Toronto,NaN,Ontario,Canada,CA-ON,0.0035,110,0,2,1,13,73,21,dpz86dc

<br>**Statistics**:

,AvgLatitude,AvgLongitude,Latitude_SW,Longitude_SW,Latitude_NE,Longitude_NE,County,SeverityScore,IncidentsTotal,IncidentsCar,IncidentsMPV,IncidentsLDT,IncidentsMDT,IncidentsHDT,IncidentsOther
count,1537.000000,1537.000000,1537.000000,1537.000000,1537.000000,1537.000000,0.0,1537.000000,1537.000000,1537.000000,1537.000000,1537.000000,1537.000000,1537.000000,1537.000000
mean,43.710624,-79.414948,43.709920,-79.415644,43.711293,-79.414271,NaN,0.000631,9.874431,0.449577,1.165257,0.731295,1.232921,4.758621,1.536760
std,0.052995,0.099874,0.053001,0.099871,0.053001,0.099871,NaN,0.001392,12.808555,0.889882,1.760021,1.104567,5.414139,7.318972,2.786707
min,43.594750,-79.633370,43.593750,-79.634400,43.595120,-79.633030,NaN,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,43.665010,-79.489690,43.663790,-79.490200,43.665160,-79.488830,NaN,0.000200,3.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
50%,43.710700,-79.414210,43.710480,-79.414670,43.711850,-79.413300,NaN,0.000400,5.000000,0.000000,1.000000,0.000000,0.000000,2.000000,1.000000
75%,43.756280,-79.349230,43.755800,-79.350130,43.757170,-79.348750,NaN,0.000700,11.000000,1.000000,2.000000,1.000000,1.000000,5.000000,2.000000
max,43.840510,-79.162180,43.839570,-79.163360,43.840940,-79.161990,NaN,0.032500,213.000000,10.000000,15.000000,10.000000,196.000000,85.000000,30.000000

# Geotab Road Impediments Dataset

In [7]:
describe_data(pd.read_csv('roadimpediments.csv'))

**Data Shape**: (461481, 17)

<br>**Column names**:

array(['Latitude', 'Longitude', 'City', 'County', 'State', 'Country',
       'ISO_3166_2', 'AvgAcceleration', 'PercentOfVehicles',
       'AvgMonthlyVolume', 'PercentCar', 'PercentMpv', 'PercentLdt',
       'PercentMdt', 'PercentHdt', 'PercentOther', 'Geohash'],
      dtype=object)

<br>**Sample**:

,Latitude,Longitude,City,County,State,Country,ISO_3166_2,AvgAcceleration,PercentOfVehicles,AvgMonthlyVolume,PercentCar,PercentMpv,PercentLdt,PercentMdt,PercentHdt,PercentOther,Geohash
0,43.70284,-79.55941,Toronto,NaN,Ontario,Canada,CA-ON,0.3108,0.0026,34104,0.0361,0.1031,0.1874,0.0444,0.4687,0.1603,dpz2tef
1,43.66266,-79.45813,Toronto,NaN,Ontario,Canada,CA-ON,0.2821,0.0500,140,0.0504,0.3957,0.2590,0.0935,0.0791,0.1223,dpz2rus
2,43.75108,-79.45100,Toronto,NaN,Ontario,Canada,CA-ON,0.7217,0.0751,293,0.0342,0.3116,0.3459,0.0205,0.1473,0.1405,dpz8bh9
3,43.68139,-79.33216,Toronto,NaN,Ontario,Canada,CA-ON,0.3757,0.0950,1147,0.0438,0.3444,0.3164,0.0561,0.1297,0.1096,dpz86zb
4,43.71568,-79.45219,Toronto,NaN,Ontario,Canada,CA-ON,0.7192,0.0238,42,0.0000,0.5952,0.3095,0.0000,0.0714,0.0239,dpz88n0

<br>**Statistics**:

,Latitude,Longitude,AvgAcceleration,PercentOfVehicles,AvgMonthlyVolume,PercentCar,PercentMpv,PercentLdt,PercentMdt,PercentHdt,PercentOther
count,461481.000000,461481.000000,461481.000000,461481.000000,461481.000000,461481.000000,461481.000000,461481.000000,461481.000000,461481.000000,461481.000000
mean,43.708767,-79.413879,0.437945,0.083281,1099.899699,0.044490,0.329670,0.244826,0.052781,0.186152,0.142082
std,0.186695,0.306851,0.365308,0.099544,3872.395797,0.067323,0.183285,0.150999,0.061652,0.165483,0.112473
min,37.798150,-96.647930,0.000000,0.000000,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.000200
25%,43.672620,-79.505600,0.241200,0.009600,29.000000,0.000000,0.208200,0.140600,0.010200,0.073200,0.071500
50%,43.718290,-79.410750,0.389800,0.047900,77.000000,0.030300,0.303700,0.239000,0.043900,0.142100,0.125600
75%,43.762410,-79.314830,0.572100,0.120800,430.000000,0.060700,0.422200,0.323200,0.071400,0.250000,0.180500
max,44.572900,-79.121610,14.902800,1.000000,56723.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

# City of Toronto One Address Repository

In [8]:
describe_data(pd.read_csv('toronto_addresses.csv'))

**Data Shape**: (524666, 12)

<br>**Column names**:

array(['MAINT_STAG', 'ADDRESS', 'LFNAME', 'DISTANCE', 'FCODE_DES',
       'CLASS', 'NAME', 'MUN_NAME', 'WARD_NAME', 'Latitude', 'Longitude',
       'Geohash'], dtype=object)

<br>**Sample**:

,MAINT_STAG,ADDRESS,LFNAME,DISTANCE,FCODE_DES,CLASS,NAME,MUN_NAME,WARD_NAME,Latitude,Longitude,Geohash
0,REGULAR,99,James St,142.58,Low Density Residential,Land,NaN,Etobicoke,Etobicoke-Lakeshore (6),43.589557,-79.542255,dpxrvzp
1,REGULAR,24-26,Thirty Ninth St,136.38,High Density Residential - Apartment,Land,NaN,Etobicoke,Etobicoke-Lakeshore (6),43.589131,-79.539239,dpxryp1
2,REGULAR,30,Thirty Ninth St,159.55,Low Density Residential,Land,NaN,Etobicoke,Etobicoke-Lakeshore (6),43.589330,-79.539325,dpxryp1
3,REGULAR,32,Thirty Ninth St,167.06,Low Density Residential,Land,NaN,Etobicoke,Etobicoke-Lakeshore (6),43.589400,-79.539328,dpxryp1
4,REGULAR,34,Thirty Ninth St,173.97,Low Density Residential,Land,NaN,Etobicoke,Etobicoke-Lakeshore (6),43.589460,-79.539352,dpxryp1

<br>**Statistics**:

            DISTANCE       Latitude      Longitude
count  524666.000000  524666.000000  524666.000000
mean      102.437744      43.713529     -79.390073
std        89.536813       0.054103       0.107734
min     -1681.800000      43.586500     -79.638241
25%        40.640000      43.670689     -79.470202
50%        76.870000      43.705690     -79.400060
75%       138.990000      43.756891     -79.309516
max      1465.980000      43.854162     -79.121397

# City of Toronto Centerline Intersection

In [9]:
describe_data(pd.read_csv('toronto_roads.csv'))

**Data Shape**: (53494, 9)

<br>**Column names**:

array(['INTERSEC5', 'CLASSIFI7', 'NUM_ELEV', 'ELEVATIO10', 'ELEV_LEVEL',
       'ELEVATION', 'Latitude', 'Longitude', 'Geohash'], dtype=object)

<br>**Sample**:

,INTERSEC5,CLASSIFI7,NUM_ELEV,ELEVATIO10,ELEV_LEVEL,ELEVATION,Latitude,Longitude,Geohash
0,GARDINER EXPRESS / Kipling Ave,Pseudo Intersection-Overpass/Underpass,2,Pseudo,0,0.0,43.618007,-79.525779,dpz2nk7
1,GARDINER EXPRESS / Kipling Ave,Pseudo Intersection-Overpass/Underpass,2,Pseudo,1,0.0,43.618007,-79.525779,dpz2nk7
2,Kipling Ave / Kipling S Gardiner C E Ramp,Minor-Multi Level,2,Minor,1,0.0,43.617569,-79.525656,dpz2nk7
3,Kipling Ave / Kipling S Gardiner C E Ramp,Minor-Multi Level,2,Pseudo,0,0.0,43.617569,-79.525656,dpz2nk7
4,GARDINER EXPRESS / Kipling Ave,Pseudo Intersection-Overpass/Underpass,2,Pseudo,0,0.0,43.617673,-79.525683,dpz2nk7

<br>**Statistics**:

           NUM_ELEV    ELEV_LEVEL  ELEVATION      Latitude     Longitude
count  53494.000000  53494.000000    53494.0  53494.000000  53494.000000
mean       1.226717      0.988055        0.0     43.709783    -79.392938
std        0.426015      2.758371        0.0      0.056160      0.111971
min        1.000000      0.000000        0.0     43.580996    -79.639265
25%        1.000000      0.000000        0.0     43.664503    -79.479019
50%        1.000000      0.000000        0.0     43.702276    -79.398063
75%        1.000000      0.000000        0.0     43.755553    -79.311738
max        3.000000      9.000000        0.0     43.855457    -79.115243